@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-box-background: #f0f0f0;
  --color-background-grey: #f8f9fa;

  --color-input-border: #e5e7eb;
  --color-divider-30: rgba(211, 211, 211, 0.3);

  --color-primary-500: #6366f1;
  --color-primary-300: #8b5cf6;
  --color-primary-100: #eef2ff;

  --color-surface-dark: #3d3d3d;
}

@layer utilities {
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }

  .bg-ancient-item {
    background: linear-gradient(180deg, #b89c65 0%, #3c3526 100%);
  }

  .bg-relic-item {
    background: linear-gradient(180deg, #843606 0%, #3c3526 100%);
  }

  .bg-legend-item {
    background: linear-gradient(90deg, #945a04 0%, #2e1c01 100%);
  }

  .bg-heroic-item {
    background: linear-gradient(180deg, #430d57 0%, #22062c 100%);
  }

  .bg-rare-item {
    background: linear-gradient(180deg, #0d3a84 0%, #061a3c 100%);
  }

  .bg-advanced-item {
    background: linear-gradient(180deg, #145a1e 0%, #062b0a 100%);
  }
}

html {
  font-size: 16px;
  font-family: 'Inter';
}

/* Custom scrollbar */
:not(.scrollbar-hide)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

:not(.scrollbar-hide)::-webkit-scrollbar-track {
  background: transparent;
}

:not(.scrollbar-hide)::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 9999px;
}

:not(.scrollbar-hide)::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}

*:not(.scrollbar-hide) {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 transparent;
}
