@import 'tailwindcss';

@theme {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-box-background: #f0f0f0;
  --color-background-grey: #f8f9fa;

  --color-input-border: #e5e7eb;
  --color-divider-30: rgba(211, 211, 211, 0.3);

  --color-primary-500: #6366f1;
  --color-primary-300: #8b5cf6;
  --color-primary-100: #eef2ff;

  --color-surface-dark: #3d3d3d;
}
html {
  font-size: 16px;
  font-family: 'Inter';
}
